&-table {
  position: relative;
  touch-action: pan-y;
  font-size: 15px;
  color: #333;
  line-height: 1;
  overflow: hidden;


  &-showScrollbar{
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-thumb {
      background: rgba(45, 45, 45, 0.5);
      border-radius: 4px;
      cursor: pointer;
    }
    ::-webkit-scrollbar-track{
      background: rgba(45, 45, 45, 0.05);
    }
  }

  &-column-resizing {
    cursor: ew-resize;
    .user-select();
  }
  box-sizing: border-box;
  &-row {
    position: absolute;
    height: 36px;
    top: 0;
    //禁止使用
    // content-visibility:auto;
  }
  &-row.virtualized {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &-body-wheel-area {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-mainContent {
    width: 100%;
    display: flex;
  }

  &-leftFixed,
  &-rightFixed {
    z-index: 4;
    transform: translate(0, 0) translateZ(1px);
    height: 100%;
  }
  &-scrollContent {
    height: 100%;
  }

  &-hover &-row:hover {
    background: @head-background;
  }

  &-hover &-row:hover &-cell-group {
    background: @head-background;
  }

  &-hover &-row:hover &-cell {
    background: @head-background;
  }

  &-row-header {
    background: @head-background;
    font-size: 13px;
    width: 100%;
  }
  &-row-header &-cell {
    background: @head-background;
  }

  &-row-header &-cell-group-shadow {
    .box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.28));
    z-index: 5;
  }

  &-hover &-row:hover &-cell-group {
    background: @head-background;
  }

  &-hover &-row:hover &-cell {
    background: @head-background;
  }

  &-header-row-wrapper {
    position: relative;
  }

  &-affix-header {
    z-index: 3;
    visibility: hidden;
    border-top: 1px @border-color solid;
    &.fixed {
      visibility: visible;
    }
  }

  &-body-row-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  &-body-info {
    .icon {
      margin: 0 10px;
    }
    width: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    margin-top: -20px;
    line-height: 40px;
    &-wheel-area {
      width: 100%;
    }
  }

  &-cell {
    height: 36px;
    border-style: solid;
    border-width: 0;
    border-color: @border-color;
    display: block;
    overflow: hidden;
    position: absolute;
    white-space: normal;
    background: @body-background;
    &.first {
      border-left-width: 0;
    }
    &-wrap1 {
      display: table;
    }
    &-wrap2 {
      display: table-row;
    }
    &-wrap3 {
      display: table-cell;
      vertical-align: middle;
    }
    &-content {
      padding: 8px;
      //border and padding covered in width
      box-sizing: border-box;
      .ellipsis();
    }

    &-header {
      color: @head-color;
      &-sortable {
        cursor: pointer;
      }
      &-sort-wrapper {
        display: inline-block;
        height: 15px;
      }
      &-icon-sort {
        vertical-align: middle;
      }
      &-icon-sort::after {
        content: url("../dist/sort.svg");
      }
      &-icon-sort-asc::after {
        content: url("../dist/sort1.svg");
      }
      &-icon-sort-desc::after {
        content: url("../dist/sort2.svg");
      }
    }
  }

  &-cell-group {
    &-fixed-left {
      z-index: 4;
      background: @body-background;
      position: absolute;
    }
    &-fixed-right {
      z-index: 4;
      background: @body-background;
      margin-left: 10px;
      position: absolute;
    }
    &-left-shadow {
      .box-shadow(3px, 0px, 5px, rgba(9, 9, 9, 0.027));
    }

    &-shadow,
    &-right-shadow {
      .box-shadow(-3px, 0px, 5px, rgba(9, 9, 9, 0.027));
    }
  }

  &-mouse-area {
    display: none;
    position: absolute;
    background: @resize-mouse-color;
    left: -1px;
    top: 0;
    width: 100%;
    z-index: 6;
  }

  &-bordered {
    border: 1px solid @border-color;
  }
  &-bordered &-cell {
    border-width: 0 0 1px 0;
  }

  &-cell-bordered &-cell {
    border-width: 0 0 0 1px;
  }

  &-word-wrap &-cell-content {
    white-space: unset;
    word-break: break-all;
    word-wrap: break-word;
  }

  &-loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    visibility: hidden;
  }

  &-loader {
    width: 100%;
    text-align: center;
    top: 50%;
    //用absolute或者fixed 各有利弊
    position: absolute;
    margin-top: -20px;
    line-height: 40px;

    &-icon {
      .set-side-length(18px);
      .loader-spin;
      display: inline-block;
      position: relative;
      margin-right: 12px;
      // Make sure loader vertical-align center
      padding-top: 3px;
    }
  }

  &-loading &-loader-wrapper {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
  }
}
